*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    position: fixed;
    z-index: 2;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6vh;
    background-color: black;
    box-shadow: rgba(255, 255, 255, 0.713) 0px 13px 27px -5px, rgba(255, 255, 255, 0.702) 0px 8px 16px -8px;
}
main{
    top: 10vh;
    position: relative;
    width: 99vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    background-color: black;
}
#cad{
    left: 90vw;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.cont{
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(7, 7, 7);
    margin: 20px;
    width: 70vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
#deletar{
    width: 40px;
    margin: 10px;
    cursor: pointer;
}
#alter{
    width: 40px;
    margin: 10px;
    cursor: pointer;
}
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.509);
}
.cad-cha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 60vh;
    background-color: white;
    border-radius: 5px;
}
.btn{
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.inp{
    width: 15vw;
    height: 2vh;
    border-radius: 5px;
}
.model{
    display: none;
}

.info{
    display: flex;
    margin: 10px;
}
.info h2{
    margin-right: 20px;
}
.var{
    color: rgb(157, 157, 157);
}

